// _setup.scss

// Palette
$dark-blue:  #0D3E58;
$blue:       #1C848C;
$light-blue: #19C0C2; 
$beige:      #F3EDD6;
$red:        #DA6260;
$white:      #ffffff;
$black:      #000000;
$light-grey: #DFDFDF;

// Font Families
$jenna: 'jenna_sueregular', sans-serif;
$aaarg: 'aaarghnormal', sans-serif;

