
/*###########################################*/
/*##########  General parameters  ###########*/
/*###########################################*/

@font-face {
    font-family: 'aaarghnormal';
    src: url('aaargh_normal_macroman/Aaargh-webfont.eot');
    src: url('aaargh_normal_macroman/Aaargh-webfont.eot?#iefix') format('embedded-opentype'),
         url('aaargh_normal_macroman/Aaargh-webfont.woff') format('woff'),
         url('aaargh_normal_macroman/Aaargh-webfont.ttf') format('truetype'),
         url('aaargh_normal_macroman/Aaargh-webfont.svg#aaarghnormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'jenna_sueregular';
    src: url('jennasue/jennasue-webfont.eot');
    src: url('jennasue/jennasue-webfont.eot?#iefix') format('embedded-opentype'),
         url('jennasue/jennasue-webfont.woff') format('woff'),
         url('jennasue/jennasue-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

h1, h2, h3, h4, h5, h6, p, header, footer, section, article {
	font-family: 'aaarghnormal', sans-serif;
}

body {
	background-color: black;
	color:white;
}

/*###########################################*/
/*################  Header  #################*/
/*###########################################*/

#avatar {
	border-radius: 50%;
}

header {
	/*background-image: url(../images/paper_fibers/paper_fibers.png);*/
	background-image: url(../images/lightpaperfibers/lightpaperfibers.png);
	height:100%;
	color:black;
	width:100%;
	text-align: center;
}

#header-top {
	padding: 2em 0;
}

#header-top p {
	font-family: 'jenna_sueregular', sans-serif;
	line-height: 1em;
	font-size: 2em;
}

#header-top img {
	margin-bottom:2em;
}

.nav-toggle {
	padding-bottom: 1em;
	color: #6E7476;
	line-height: 2em;
}

/*Pages*/

#pages li {
	padding: 0.5em 0;
}

#pages li:hover {
	border-top: 1px solid #6E7476;
	border-bottom: 1px solid #6E7476;
}

/*cart*/
#cart {
	margin:2em 0;
}

/*Social Media*/
.rs {
	padding-bottom:2em;
}

.rs li {
	display: inline;
	font-size:2em;
}

/*###########################################*/
/*################  Home  #################*/
/*###########################################*/

#home {
	padding-top: 6%;
}

/*###########################################*/
/*################  Footer  #################*/
/*###########################################*/

footer {
	color:#6E7476;
	font-size:0.5em;
}